

/* Verify Button */
.frm button {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.frm button:hover {
  background-color: #0056b3;
}

.email-verify-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #eef2ff, #ffffff);
  padding: 20px;
  box-sizing: border-box;
}

/* Form */
.email-verify-form {
  background-color: #8e91912f;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Title and Subtitle */
.form-title {
  font-size: 24px;
  margin-bottom: 8px;
  color: #1f2937;
}

.form-subtitle {
  font-size: 14px;
  color: #0b0c0e;
  margin-bottom: 24px;
  
  text-align: center;
}

/* Email input group */
.email-input-wrapper {
  margin-bottom: 20px;
}

.email-input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.email-icon {
  position: absolute;
  left: 12px;
  height: 18px;
  width: 18px;
  opacity: 0.6;
}

.email-input {
  width: 100%;
  padding: 10px 12px 10px 38px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

.email-input:focus {
  border-color: #4f46e5;
}

/* Button */
.verify-btn {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.verify-btn:hover {
  background-color: #4338ca;
}





/* Responsive */
@media (max-width: 480px) {
  .email-verify-form {
    padding: 30px 20px;
  }

  .email-input {
    font-size: 13px;
  }

  .verify-btn {
    font-size: 14px;
  }
}



.form-div {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #eef2ff, #ffffff);
  padding: 20px;
  box-sizing: border-box;
 
  padding-bottom: 260px;
}
.otp-input {
  width: 40px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s;
}

.otp-input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 3px #4f46e5;
}

@media (max-width: 480px) {
  .otp-input {
    width: 10vw;          
    height: 10vw;
    font-size: 4vw;
   
  }

  .form-div form > div {
    gap: 3px;
    margin-left: -25px;
  }
}